<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.resetPassword.title}">text</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" href="${baseUrl}/favicon.ico" />
    </head>
    <body>
        <p th:text="#{email.resetPassword.greeting(${profile.name})}">
            Dear
        </p>
        <p th:text="#{email.resetPassword.text1}">
            text
        </p>
        <p>
            <a th:href="@{|${baseUrl}/api/v2/user/restore/finish?code=${code}|}"
               th:text="@{|${baseUrl}/api/v2/user/restore/finish?code=${code}|}">Reset Link</a>
        </p>
        <p>
            <span th:text="#{email.resetPassword.text2}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">text</em>
        </p>
    </body>
</html>
